<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="general.js"></script>
    <script src="checkSettings.js" defer></script>
</head>
<body>
    
        <video id="videocam">Video stream not available.</video>
        <div onclick="muteUnmute()" class="main__controls__button main__mute_button">
            <i class="fas fa-microphone"></i>
            <span>Mute</span>
         </div>
         <div onclick="playStop()" class="main__controls__button main__video_button" >
            <i class="fas fa-video"></i>
            <span>Stop Video</span>
         </div>
         <div>
            <script>var roomid=<%= Room_id_for %></script>
            <button onclick="enter(`${roomid}`)">Ask to Join</button>
         </div>
</body>
</html> -->