<div class="footer">
    <center>"For your smiles travel to your dear ones"</center>
    <center>Follow us on Social Media</center>
    <center>
        <span class="fa-brands fa-facebook"></span>
        <span class="fa-brands fa-instagram"></span>
        <span class="fa-brands fa-linkedin"></span>
        <span class="fa-brands fa-twitter-square"></span>
        
    </center>
</div>