<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="meet_ended.css" />
    <title>Ended</title>
  </head>
  <body>
    <!-- <a href="javascript:history.back()">Join Again</a> -->
    <div class="content">
      <div class="message">
        <h2>You left the meeting.</h2>
      </div>

      <div class="buttons">
        <button onclick="javascript:history.back()">Rejoin</button>
        <button>Return to home screen</button>
      </div>

      <div>
        <span> </span>
        <span>
          <h3>Your meeting is safe.</h3>
          <p>
            No one can join the meeting unless invited or admitted by the host.
          </p>
          <a href="#">Learn more</a>
        </span>
      </div>
    </div>
  </body>
</html>
