<%- include('header'); -%>
<div class="main container-fluid">
    <h2 class="heading">
        Ciao!<br>
        
    </h2>
    <h3 class="heading_text">Wanna chitchat with friends? Come over.</h3>
    <h4 class="heading_subtext">
        Presenting your own VideoCalling website <br>
        with livechat,whiteboard and screenshare enabled.
    </h4>
    <div class="guestbox container-fluid">
    
            <div class="guest_text">
                <h3>Create or join a meet as Guest</h3>
            </div>
            <div class="guest_subtext">
                <h4>Too lazy to sign in? Join a meet on the go <br>or create your own meeting room</h4>
            </div>
            <div class="guest_button">
                <a href="/Join" class="guest_button_instant"><span class="fa-solid fa-video"></span>&nbsp; &nbsp; 
                    Instant Meet</a>
                <!-- <input id="myname" placeholder="join with a name" type="text"> -->
            </div>
            <!-- <div class="extraspace">

            </div> -->
    
    </div>
    <div class="loginbox">
    
        
            <div class="login_text">
                <h3>Join with your Google account</h3>
            </div>
            <div class="login_subtext">
                <h4>Login with your google account and create or <br>join an existing meet.</h4>
            </div>
            <div class="login_button">
                <a href="/google" class="login_button_instant"><span class="fa-solid fa-user"></span>&nbsp; &nbsp; 
                    Sign in with Google</a>
            </div>
            <!-- <div class="extraspace">

            </div> -->
        
        
    
    </div>
    
</div>
<%- include('footer'); -%>