<%- include('header'); -%>
<div class="main container-fluid">
  <div class="body1">
    <span>
      <div class="left">
        <img
          src="https://i.pinimg.com/564x/94/e3/a7/94e3a70f1a470beb931ce76012b2dc98.jpg"
          alt="error"
          height="350px"
        />
      </div>
    </span>

    <span class="rightside">
      <h2 class="heading_text">Wanna chitchat with your friends?</h2>
      <p class="heading_text2">one click millions connected</p>
      <div>
        <span class="guest_text">
          <h4>Create or join a meet as Guest</h4>
        </span>

        <div class="guest_button">
          <a href="/Join" class="guest_button_instant"
            ><span class="fa-solid fa-video"></span>&nbsp; &nbsp; Instant
            Meet</a
          >
          <!-- <input id="myname" placeholder="join with a name" type="text"> -->
        </div>
      </div>
    </span>
  </div>
</div>
<%- include('footer'); -%>
