@import "footer.css";

body {
  /* background-image: url("https://cdni.iconscout.com/illustration/premium/thumb/man-updating-system-5623275-4687690.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
}
.header {
  padding-top: 1rem;
  background-color: rgba(231, 234, 237, 0.286);
}
.heading_title {
  font-family: "Rubik Moonrocks", cursive;
  font-size: 1cm;
  margin: 1rem 1rem 1rem 3rem;
  background: rgb(14, 130, 150);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

a.navbar-brand {
  font-family: "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  color: rgb(176, 72, 210);
  padding-left: 10px;
  padding-bottom: 8px;
  padding-top: 10px;
  font-size: xx-large;
}

a.nav-link {
  color: rgb(21, 165, 117);
  margin: 0px;
  padding: 2%;
}

.nav-item {
  padding-left: 5px;
  margin: 0;
}

.navbar-nav {
  font-family: "Titillium Web", sans-serif;

  float: left;
  font: bold 12px Arial, Helvetica, Sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 0px;
  overflow: hidden;
  width: 100%;
}

.heading_text {
  margin-left: 67%;
  margin-top: 50px;
  margin-right: 0;
  text-align: left;
  font-family: "Titillium Web", sans-serif;
  font-size: 0.7cm;
  font-weight: 700;
  color: rgb(14, 130, 150);
}
.question_mark {
  font-family: "Rubik Moonrocks", cursive;
  font-size: 1cm;
  margin: 1rem 1rem 1rem 0rem;
  background: rgb(14, 130, 150);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.switch {
  tab-size: 80%;
  position: absolute;
  padding-top: 11.2cm;
  padding-left: 5cm;
}

.video_block {
  /* height:500px; */
  /* display:flex; */
  /* justify-content: center; */
  padding-left: 50px;
}

.video_box {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.274);
  border-width: 0px 10px;
  justify-content: center;
  /* flex:0.5; */
  border-radius: 25px 25px 25px 25px;
  overflow: hidden;
  height: 300px;
  width: 600px;
  margin: 5rem 2rem 1rem 3rem;
  /* display: inline; */
  /* z-index: 1; */
}
#videocam {
  height: 350px;
  padding-top: 0rem;
  margin-left: 12%;
  /* padding-left: 10%; */
  margin-right: 20%;
  padding-right: 20%;
}
.overlay {
  margin: 10rem 1rem 3rem 0rem;
  padding: 10rem 1rem 3rem 0rem;
  font-family: "Titillium Web", sans-serif;
  font-size: 100cm;
}

.overlay span {
  padding: 0.3cm 0.5cm 0.8cm 0.5cm;
  /* background-color: rgb(14, 130, 150); */
  color: rgb(40, 40, 41);
  border-radius: 0px 10px 0px 0px;
  font-size: medium;
}
.buttons_controls {
  font-family: "Titillium Web", sans-serif;
  padding-top: 5rem;
}
.mute_button {
  /* flex:0.05; */
  margin: 0rem 3rem 0rem 3rem;
}
.mute_button i {
  font-size: 0.75cm;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 30px 30px 30px 30px;
  background-color: rgb(14, 130, 150);
  color: aliceblue;
}
.video_button {
  /* flex:0.05; */
  margin: 0rem 3rem 0rem 1rem;
}
.video_button i {
  font-size: 0.75cm;
  padding: 1rem 1rem 1rem 0.8rem;
  border-radius: 30px 30px 30px 30px;
  background-color: rgb(14, 130, 150);
  color: aliceblue;
}

.new_room_button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 1rem 4rem 10rem 20rem;
  background-color: rgb(14, 130, 150);
  color: aliceblue;
  border-radius: 10px 10px 10px 10px;
  font-size: 0.5cm;
}
.join_button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 1rem 1rem 1rem 0rem;
  background-color: rgb(14, 130, 150);
  color: aliceblue;
  border-radius: 0px 10px 10px 0px;
  font-size: 0.5cm;
}

.mic {
  font-size: large;
  color: aliceblue;
}

.row {
  margin-top: 0%;
  padding-top: 0%;
}

.fas fa-video {
  padding: 1rem 1rem 1rem 0.8rem;
  color: aliceblue;
  height: 0.7cm;
  width: 0.7cm;
}

.text_controls {
  font-weight: 800;
  font-style: oblique;
  font-size: 0.75cm;
  margin: 25rem 4rem 1rem 24rem;
  padding: 15rem 0rem 1rem 0rem;
}

.input_for_code {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 1rem 0rem 1rem 14rem;
  border-radius: 10px 0px 0px 10px;
  width: 50%;
}

/* nav tag */

ul {
  color: rgb(21, 165, 117);
  width: 50%;
  float: right;
  margin-top: 10px;
}

.nav {
  background-color: black;
}

.body1 {
  display: flex;
  justify-content: left;
}

li {
  color: rgb(21, 165, 117);
  display: contents;
  padding: 15px, 30px;
}

#container {
  background-color: white;
}
a.navbar-brand {
  font-family: "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  color: rgb(176, 72, 210);
  padding-left: 10px;
  padding-bottom: 8px;
  padding-top: 10px;
  font-size: xx-large;
}

a.nav-link {
  color: rgb(21, 165, 117);
  margin: 0px;
  padding: 2%;
}

.nav-item {
  padding-left: 5px;
  margin: 0;
}

.navbar-nav {
  font-family: "Titillium Web", sans-serif;

  float: left;
  font: bold 12px Arial, Helvetica, Sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 0px;
  overflow: hidden;
  width: 100%;
}

#Sign_In_Button {
  background: rgb(14, 130, 150);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#Sign_In_Button:hover {
}
